.idea/
*.class
*.java~
.vscode/
.history/
*.swp
.pytest_cache/
__pycache__/
.scratch
*.beam
.DS_Store
venv/
generated/

# Object directory
obj/

# Project files
*.fsproj
.*project
.*proj
.*targets

# Node.js
node_modules/
package.json
package-lock.json

# F#
Program.fs

# scala
.metals
.scala-build
