matrix:
  include:
    - language: python
      python:
        - "3.6"
      install: 
        - pip install -r requirements-test.txt
        - bash -x samplerunner.sh --help
      script: bash -x test.sh
      deploy:
        provider: script
        script: bash -x deploy.sh
    - language: ruby
      before_install:
        - cd docs/
      rvm:
        - 2.4
      script:
        - bundle exec jekyll build --future
        - bundle exec htmlproofer ./_site --only-4xx --check-favicon --check-html --disable_external	
      env:
        global:
          - NOKOGIRI_USE_SYSTEM_LIBRARIES=true


notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/f694e2f80d5bba482051
    on_success: always
    on_failure: always
    on_start: never
