language: python
python:
  - "3.6"

branches:
  only:
    - master
    

script:
  - cd tools
#  - python generate-wiki.py
  - cd ..

after_success:
  - cd ..
  - git clone "https://${GITHUB_TOKEN}@github.com/${GITHUB_USERNAME}/sample-programs.wiki.git"
  - mv -v sample-programs/tools/wiki/* sample-programs.wiki/
  - cd sample-programs.wiki
  - git add .
  - git commit -m "Generated Wiki via Travis-CI"
  - git push

notifications:
  email: false
