---
---

$header-bg-color: #c90229;
$header-bg-color-secondary: #939393;
$section-headings-color: #c90229;
$brand-color: #c90229;

@import "{{ site.theme }}";

.breadcrumb {
  float:left;
  padding-top:16px;
  list-style: none;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
}

.breadcrumb { border: 0px;  display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: $brand-color;}
.breadcrumb a:hover {color: darken($brand-color, 20%);}
.breadcrumb>.active a {color: #555555; }
.breadcrumb>li+li:before {color:$brand-color; content: "\003E\00a0";}
