# This workflow will install Python dependencies, download Docker images, and test every script in the repo

name: Test Suite

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Download Docker images
      run: |
        python runner.py download
    - name: Test
      run: |
        python runner.py test
    - name: Generate READMEs
      run: |
        pip install generate_docs
        ls
        wikir archive/
