# This workflow will install Python dependencies, download Docker images, and test every script in the repo

name: Glotter

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    paths:
      - 'archive/**'
      - 'test/**'
      - 'requirements.txt'
      - '.glotter.yml'
      - 'runner.py'
      - 'samplerunner.*'
      - '.github/workflows/test-suite.yml'

jobs:
  testing:
    name: "Test Suite"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      shell: bash

    - name: Install Docker on MacOS
      run: brew install docker
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Download Docker images
      run: |
        python runner.py download --parallel

    - name: Test All Sample Programs
      run: |
        python runner.py test --parallel
