# This workflow will install Python dependencies, build READMEs, download Docker images, and test every script in the repo

name: Test Suite

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Download Docker images
      run: |
        python runner.py download
        
    - name: Test All Sample Programs
      run: |
        python runner.py test
        
    - name: Generate READMEs
      run: |
        pip install generate_docs==2.0.0
        wikir archive/
        
    - name: Commit READMEs
      uses: EndBug/add-and-commit@v5 
      with:
        message: |
          Generated READMEs from sources [skip ci]
          on-behalf-of: @TheRenegadeCoder <jeremy.grifski@therenegadecoder.com>
        author_name: Jeremy Grifski
        author_email: jeremy.grifski@therenegadecoder.com
        
      env:
        # This is necessary in order to push a commit to the repo
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
