# This workflow will install Python dependencies, download Docker images, and test every script in the repo

name: Glotter

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - 'main'
      - '!readme-generation'
    paths:
      - 'archive/**'
      - 'test/**'
      - '.glotter.yml'
      - '.github/workflows/test-suite.yml'
      - 'pyproject.toml'
      - 'poetry.lock'

jobs:
  testing:
    name: "Test Suite"

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]
        poetry-version: ["1.5.1"]
        os: [ubuntu-latest]
        num_batches: [3]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run Poetry Image
      uses: abatilo/actions-poetry@v2
      with:
        poetry-version: ${{ matrix.poetry-version }}
        
    - name: Install Dependencies
      run: poetry install
        
    - name: Download Docker images, Test All Sample Programs, Remove Docker Images
      run: poetry run glotter batch ${{ matrix.num_batches }}  --parallel --remove
